doctype html
html(lang="es")
    head
        title Timestamp Microservice | JEEIMKG
        link(href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
        link(href="base.styles.css", rel="stylesheet", type="text/css")
        link(rel="shortcut icon", href="https://firebasestorage.googleapis.com/v0/b/jeeimkg-5705b.appspot.com/o/static%2Fico.ico?alt=media&token=c23affd4-77d1-471b-bef9-4e19e81f4964", type="image/x-icon")
        script(src="https://cdn.tailwindcss.com")
    body
        main(class="flex sm:flex-1 md:flex-1 justify-center mx-10 py-10")
            h1(class="text-white text-3xl") Timestamp Microservice
            .container
                h2(class="text-xl") ¿Comó usar la API?
                ul(class="text-blue-400") 
                    li(class="py-2")
                        a(href="api/2015-12-25" class="") [project url]/api/2015-12-25
                    li(class="py-2")
                        a(href="api/2015-12-25?format=es") [project url]/api/2015-12-25?format=es
                    li(class="py-2")
                        a(href="api/1451001600000") [project url]/api/1451001600000